@charset "UTF-8";

/* Height for devices larger than 576px */
@media (min-width: 992px) {
#intro {
        margin-top: -58.59px;
        height: 50vh !important;
    }
}
body{
	background-color:black;
}

.navbar .nav-link {
    color: #fff !important;
}

.topic {
    position: absolute;
    margin-top: 200px;
    margin-left: 25%;
}

.topic h1 {
    font-weight: 700;
    font-size: 80px;
    color: #fff;
}
 .topic h5 {
    font-size: 50px;
}
.section1{
	margin-top:0px;
}


fluid {
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
.refreshForm{

    margin-top:200px;
	
}
.cardBody{
    background-color: rgb(82, 82, 82);

	
}
.cardBody h1{
    color: fuchsia;
}
.cardPara{
    color: #fff;
}
.cardA{
   
    text-decoration: none!important;
}
