@charset "UTF-8";

body {
    background-image: url(../siteImages/updateBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.updateHeader{
	font-weight: 800;
    color: rgb(199, 2, 2);
    margin-top: 10px;
    font-size: 40px;

}
.updateForm{
    background-color: rgb(164, 164, 164);
    margin-top: 50px;
    opacity: 0.9;
}
.updateForm input{
background-image: linear-gradient(to right, pink, lightgreen);
}
