@charset "ISO-8859-1";

body {
  background-image: url(../siteImages/home-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;


}

.showbtn {
  padding-left: 70%;
  padding-bottom: 10%;

}

.row2 {
  background-color: #ffffff;
  border: 1px solid black;
  font-size: 13px;
  width: auto;
  opacity: 0.8;
}

.row2:nth-child(even) {
  background-color: #c27dbc;
}

.action {
  color: red;
}

.delete {
  background-color: rgb(111, 111, 216);
  border-radius: 5px;
  width: 80px;
  margin-left: 15px;
  border: none;
}

.update {
  background-color: rgb(92, 230, 165);
  border-radius: 5px;
  width: 80px;
  margin-bottom: 5px;
  margin-left: 15px;
  border: none;
}

.delete a,
.update a {
  text-decoration: none;
  color: white;
}

.delete:hover,
.update:hover {
  background-color: black;
  color: white;
}