@charset "ISO-8859-1";

 body{
        background-image:url(../siteImages/pokeball.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;
    }
